body {
    background-color: rgba(0,183,255, 1);
    background-image: url("./images/francesco-ungaro-ZhBBdCqlYAs-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
    
}